.catalog {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;

  &__controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap:var(--gap);
  margin-top: 40px;
}
.card {
  flex: 1 1 calc(33% - var(--gap));
  background:#fff;
  border-radius:var(--radius);
  padding:18px;
  transition:.3s;
  &:hover { transform:translateY(-6px); }

  @media(max-width:900px){ flex-basis:calc(50% - var(--gap)); }
  @media(max-width:600px){ flex-basis:100%; }
}
